@import './temas.css';
@import './footer.css';

@import './posicionamiento/cabeza.css';
@import './posicionamiento/tronco.css';
@import './posicionamiento/brazo-derecho.css';
@import './posicionamiento/brazo-izquierdo.css';
@import './posicionamiento/pierna-derecha.css';
@import './posicionamiento/pierna-izquierda.css';

@import './movimientos/caminando.css';
@import './movimientos/agachado.css';
@import './movimientos/dap.css';
@import './movimientos/saltando.css';

@import './extras/sombra.css';
@import './extras/brujula.css';
@import './extras/caja-movimientos.css';

@import './coloreado/brazo-derecho.css';
@import './coloreado/brazo-izquierdo.css';
@import './coloreado/pierna-derecha.css';
@import './coloreado/pierna-izquierda.css';
@import './coloreado/cabeza.css';
@import './coloreado/tronco.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: black;
}

/* PIESA PARA REFERENCIAS */
/* el centro de este cuadrado es el punto X:0 ; Y:0 */
/* el ancho y alto se modifica automaticamente */
#contenedor3d {
  transform-style: preserve-3d;
  /* es para girar las perspectiva, y mantener la profundidad */
  transform: perspective(100vw) rotateX(-25deg) rotateY(-35deg);
  /* para centrar el contenedor 3D en el viewport */
  top: 50%;
  left: 50%;
  position: absolute;

  background-color: rgba(238, 130, 130, 0.347);
  border: 1px solid rgb(238, 130, 130);

  border-top: 2px solid red;
  border-left: 2px solid blue;
}

/* PIESA PARA REFERENCIAS */
#piso {
  width: 160px;
  height: 160px;
  transform: rotateX(90deg);

  background: rgba(0, 0, 255, 0.382);
  border: 1px solid rgb(0, 0, 255);
}

#cesped {
  width: 1000px;
  height: 1000px;

  background: rgba(255, 230, 0, 0.369);

  /* centrar el cesped dentro del piso sin importar el tamaño del piso ni del cesped */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* agregar la textura de césped */
  background-image: url('../assets/texturas/grass_carried.png');
  background-size: 80px 80px;
  image-rendering: pixelated;

  /* TEMPORAL */
  opacity: 0.7;
}

/* ELEMENTO STEVE */
/* ELEMENTO STEVE */

#stevePosicionInicialPlano {
  transform-style: preserve-3d;

  /* posicionar a STEVE a su posición inicial */
  position: absolute;
  top: 0;
  transform: translateY(-240px);
}

#steveEjeMovimiento {
  transform-style: preserve-3d;
  transition: 0.4s;
  /* border: 1px solid red; */

  position: absolute;
  top: 0;
}

#steveEjeGiro {
  transform-style: preserve-3d;
  transition: 0.4s;
  /* border: 1px solid blue; */
}

#steve {
  transform-style: preserve-3d;
  width: 160px;
  height: 320px;
  /* border: 1px solid green; */
  /* background: rgba(0, 128, 0, 0.146); */
}

/* ELEMENTO CUBO */
/* ELEMENTO CUBO */