.contenedor-brujula {
  background-color: rgba(255, 255, 255, 0);
  width: 200px;
  height: 200px;
  right: 0;
  bottom: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#brujula {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: radial-gradient(rgb(98, 98, 98) 0%,
      rgb(62, 62, 62) 13% 14%,
      transparent 14% 40%,
      rgb(98, 98, 98) 40%,
      rgb(62, 62, 62) 58%);

  background: radial-gradient(rgb(45, 45, 45) 0% 5%,
      transparent 5% 13%,
      rgb(45, 45, 45) 13% 15%,
      transparent 15% 40%,
      rgb(98, 98, 98) 40%,
      rgb(62, 62, 62) 68%);

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#brujula #flecha {
  background-color: green;
  height: 5px;
  width: 48%;
  position: absolute;
  background: linear-gradient(to left,
      rgb(45, 45, 45) 0%,
      rgb(92, 92, 92) 50%,
      transparent 50%);
  transition: 0.3s;
  transform: rotateZ(119.5deg);
}

#brujula #flecha:after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: -7.5px;
  transform: rotateZ(45deg);
  border-top: 3.5px solid rgb(45, 45, 45);
  border-right: 3.5px solid rgb(45, 45, 45);
}

/* contenedor de WASD de la brujula */
.contenedor-letras {
  width: 69%;
  height: 69%;
  display: flex;
  justify-content: space-between;
  transform: rotateZ(-15deg);
}

.contenedor-letras div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor-letras div p {
  font-size: 1.4rem;
  color: white;
  border-radius: 50%;
  text-align: center;
  transform: rotateZ(42deg);
  text-shadow: 4px 2px 2px rgb(25, 25, 25);
}

/* colorear la teclar seleccionada */
.coloreado {
  color: rgb(65, 220, 255) !important;
}