#caja-movimientos {
  background-color: #333333b5;
  border: 1px solid rgba(128, 128, 128, 0.443);
  color: white;

  border-radius: 10px;
  padding: 16px;
}

#caja-movimientos li {
  font-size: 1rem;
  letter-spacing: 1px;
  list-style: none;
}

#caja-movimientos li b {
  color: rgb(134, 255, 255);
  font-size: 1rem;
  font-family: Tahoma, sans-serif;
  font-weight: lighter;
}