:root {
  --cafe-0: #8b583e;
  --cafe-1: #51331a;
  --cafe-2: #402c1b;
  --cafe-3: #371313;

  --celeste-1: #59c0d5;
  --celeste-2: #3ca8be;
  --celeste-3: #369aad;

  --celeste-1: #cb6ced;
  --celeste-2: #8d52c1;
  --celeste-3: #8544a5;

  --azul-1: #332a78;
  --azul-2: #2e2765;
  --azul-3: #2f2672;
  --azul-4: #2d2662;

  /* --azul-1: #33a648;
  --azul-2: #1f7a24;
  --azul-3: #226932;
  --azul-4: #1d5728; */

  --gris-1: #4c4c4c;
  --gris-2: #363636;
  --gris-3: #282828;

  --piel-1: #e8bdac;
  --piel-2: #c49b8b;
  --piel-3: #ab897b;
  --piel-4: #ffad97;

  /* --piel-1: #51fcff;
  --piel-2: #36cccc;
  --piel-3: #3ab5bc;
  --piel-4: #44c8df; */

  --ojos: #423095;
  --ojos: #43be72;
}
