* {
  user-select: none;
  font-family: sans-serif;
}

#base {
  transform: rotateX(-20deg) rotateY(-45deg);
  width: 160px;
  height: 320px;
  margin: 45px auto;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 0;
  /* background-color: red; */
  zoom: 1.5;
}

#cabeza,
#tronco,
#brazo-derecho,
#brazo-izquierdo,
#pierna-derecha,
#pierna-izquierda {
  position: absolute;
  transform-style: preserve-3d;
}

.frente,
.detras,
.arriba,
.abajo,
.izquierda,
.derecha {
  position: absolute;
}

.frente,
.detras {
  background: rgb(97, 97, 97);
}

.arriba {
  background: rgb(110, 110, 110);
}

.abajo {
  background: rgb(46, 46, 46);
}

.izquierda,
.derecha {
  background: rgb(71, 71, 71);
}

#cabeza {
  /* animation: moverCabeza 1s linear infinite; */
  width: 80px;
  height: 80px;
  transform-origin: 100% 50% 10px;
  transform: translateX(40px) translateZ(40px);
  z-index: 3;
}

#cabeza .frente,
#cabeza .arriba,
#cabeza .izquierda,
#cabeza .derecha,
#cabeza .detras,
#cabeza .abajo {
  width: 80px;
  height: 80px;
}

#cabeza .frente {
  text-align: center;
}

#cabeza .arriba {
  transform-origin: center bottom;
  transform: rotateX(90deg) translateZ(80px);
}

#cabeza .abajo {
  transform-origin: center top;
  transform: translateY(80px) rotateX(-90deg);
}

#cabeza .izquierda {
  transform-origin: center right;
  transform: translateX(-80px) rotateY(-90deg);
}

#cabeza .derecha {
  transform-origin: center left;
  transform: translateX(80px) rotateY(90deg);
}

#cabeza .detras {
  transform: translateZ(-80px) rotateY(180deg);
}

#tronco {
  width: 80px;
  height: 120px;
  transform: translateX(40px) translateY(80px) translateZ(20px);
}

#tronco .frente,
#tronco .detras {
  width: 80px;
  height: 120px;
}

#tronco .arriba,
#tronco .abajo {
  width: 80px;
  height: 40px;
}

#tronco .izquierda,
#tronco .derecha {
  width: 40px;
  height: 120px;
}

#tronco .arriba {
  transform-origin: center bottom;
  transform: rotateX(90deg) translateZ(40px);
}

#tronco .abajo {
  transform-origin: center top;
  transform: translateY(120px) rotateX(-90deg);
}

#tronco .derecha {
  transform-origin: center right;
  transform: translateX(-40px) rotateY(-90deg);
}

#tronco .izquierda {
  transform-origin: center left;
  transform: translateX(80px) rotateY(90deg);
}

#tronco .detras {
  transform: translateZ(-40px) rotateY(180deg);
}

#brazo-izquierdo {
  transform: translateX(120px) translateY(80px) translateZ(20px);
  animation: girarBrazoIzquierdo 1s linear infinite;
  transform-origin: 100% 75% 0;
}

#brazo-derecho {
  transform: translateY(80px) translateZ(20px);
  animation: girarBrazoDerecho 1s linear infinite;
  transform-origin: 0% 75% 0;
}

#pierna-izquierda {
  transform: translateX(80px) translateY(40px) translateZ(20px);
  animation: girarPiernaIzquierda 1s linear infinite;
  transform-origin: 100% 50% 0;
  top: 160px;
}

#pierna-derecha {
  transform: translateX(40px) translateY(40px) translateZ(20px);
  animation: girarPiernaDerecha 1s linear infinite;
  transform-origin: 0% 50% 0;
  top: 160px;
}

#brazo-izquierdo,
#brazo-derecho,
#pierna-izquierda,
#pierna-derecha {
  width: 40px;
  height: 120px;
}

#brazo-izquierdo .frente,
#brazo-izquierdo .detras,
#brazo-izquierdo .izquierda,
#brazo-izquierdo .derecha,
#brazo-derecho .frente,
#brazo-derecho .detras,
#brazo-derecho .izquierda,
#brazo-derecho .derecha,
#pierna-izquierda .frente,
#pierna-izquierda .detras,
#pierna-izquierda .izquierda,
#pierna-izquierda .derecha,
#pierna-derecha .frente,
#pierna-derecha .detras,
#pierna-derecha .izquierda,
#pierna-derecha .derecha {
  width: 40px;
  height: 120px;
}

#brazo-izquierdo .arriba,
#brazo-izquierdo .abajo,
#brazo-derecho .arriba,
#brazo-derecho .abajo,
#pierna-izquierda .arriba,
#pierna-izquierda .abajo,
#pierna-derecha .arriba,
#pierna-derecha .abajo {
  width: 40px;
  height: 40px;
}

#brazo-izquierdo .arriba,
#brazo-derecho .arriba,
#pierna-izquierda .arriba,
#pierna-derecha .arriba {
  transform-origin: center bottom;
  transform: rotateX(90deg) translateZ(40px);
}

#brazo-izquierdo .abajo,
#brazo-derecho .abajo,
#pierna-izquierda .abajo,
#pierna-derecha .abajo {
  transform-origin: center top;
  transform: translateY(120px) rotateX(-90deg);
}

#brazo-izquierdo .izquierda,
#brazo-derecho .izquierda,
#pierna-izquierda .izquierda,
#pierna-derecha .izquierda {
  transform-origin: center right;
  transform: translateX(-40px) rotateY(-90deg);
}

#brazo-izquierdo .derecha,
#brazo-derecho .derecha,
#pierna-izquierda .derecha,
#pierna-derecha .derecha {
  transform-origin: center left;
  transform: translateX(40px) rotateY(90deg);
}

#brazo-izquierdo .detras,
#brazo-derecho .detras,
#pierna-izquierda .detras,
#pierna-derecha .detras {
  transform: translateZ(-40px) rotateY(180deg);
}

@keyframes moverCabeza {
  0% {
    transform: translateX(40px) translateZ(40px);
  }

  50% {
    transform: translateX(40px) translateZ(40px) rotateX(0deg);
  }

  100% {
    transform: translateX(40px) translateZ(40px);
  }
}

@keyframes girarBrazoIzquierdo {
  0% {
    transform: rotateX(-25deg) translateX(120px) translateY(80px)
      translateZ(20px);
  }

  50% {
    transform: rotateX(25deg) translateX(120px) translateY(80px)
      translateZ(20px);
  }

  100% {
    transform: rotateX(-25deg) translateX(120px) translateY(80px)
      translateZ(20px);
  }
}

@keyframes girarBrazoDerecho {
  0% {
    transform: rotateX(25deg) translateY(80px) translateZ(20px);
  }

  50% {
    transform: rotateX(-25deg) translateY(80px) translateZ(20px);
  }

  100% {
    transform: rotateX(25deg) translateY(80px) translateZ(20px);
  }
}

@keyframes girarPiernaIzquierda {
  0% {
    transform: rotateX(25deg) translateX(80px) translateY(40px)
      translateZ(20px);
  }

  50% {
    transform: rotateX(-25deg) translateX(80px) translateY(40px)
      translateZ(20px);
  }

  100% {
    transform: rotateX(25deg) translateX(80px) translateY(40px)
      translateZ(20px);
  }
}

@keyframes girarPiernaDerecha {
  0% {
    transform: rotateX(-25deg) translateX(40px) translateY(40px)
      translateZ(20px);
  }

  50% {
    transform: rotateX(25deg) translateX(40px) translateY(40px)
      translateZ(20px);
  }

  100% {
    transform: rotateX(-25deg) translateX(40px) translateY(40px)
      translateZ(20px);
  }
}

/* COLOREADO//////////////////////////// */
:root {
  --celeste-1: #59c0d5;
  --celeste-2: #369eb2;
  --celeste-3: #308899;
  --azul-1: #3d3385;
  --azul-2: #332a78;
  --azul-3: #2b2464;
  --azul-4: #231e50;
  --piel-1: #e8bdac;
  --piel-2: #c49b8b;
  --piel-3: #ab897b;
  --cafe-1: #54361b;
  --cafe-2: #402a16;
  --cafe-3: #372413;
  --gris1: #4c4c4c;
  --gris1: #363636;
  --gris3: #282828;
}

/* CABEZA */
#cabeza .arriba {
  background-color: #402c1b;
}

#cabeza .detras {
  background: linear-gradient(#54361b 80%, #e8bdac 80%);
}

#cabeza .abajo {
  background-color: #ab897b;
}

#cabeza .frente {
  background: linear-gradient(#51331a 30%, #e8bdac 30%);
}

#cabeza .derecha {
  background: linear-gradient(-154deg, #372513 53%, #c49b8b 53%);
}

#cabeza .izquierda {
  background: linear-gradient(154deg, #372513 53%, #c49b8b 53%);
}

/* CUERPO */
#tronco div {
  background-color: #59c0d5;
}

#tronco .arriba {
  background-color: #44afc4;
  background-color: #3ca8be;
}

#tronco .derecha,
#tronco .izquierda {
  background-color: #369eb2;
}

#tronco .abajo {
  background-color: #2e8090;
}

/* BRAZOS */
#brazo-derecho .frente,
#brazo-derecho .detras,
#brazo-izquierdo .frente,
#brazo-izquierdo .detras {
  background: linear-gradient(#59c0d5 40%, #e8bdac 40%);
}

#brazo-derecho .izquierda,
#brazo-derecho .derecha,
#brazo-izquierdo .izquierda,
#brazo-izquierdo .derecha {
  background: linear-gradient(#369eb2 40%, #c49b8b 40%);
}

#brazo-derecho .arriba,
#brazo-izquierdo .arriba {
  background-color: #3fb3ca;
}

#brazo-derecho .abajo,
#brazo-izquierdo .abajo {
  background-color: #ab897b;
}

/* PIERNAS */
#pierna-derecha div,
#pierna-izquierda div {
  background-color: #332a78;
}

#pierna-derecha .frente,
#pierna-derecha .detras,
#pierna-izquierda .frente,
#pierna-izquierda .detras {
  background: linear-gradient(#332a78 80%, #4c4c4c 80%);
}

#pierna-derecha .izquierda,
#pierna-derecha .derecha,
#pierna-izquierda .izquierda,
#pierna-izquierda .derecha {
  background: linear-gradient(#2e2765 80%, #363636 80%);
}

#pierna-derecha .arriba,
#pierna-izquierda .arriba {
  background-color: #2f2672;
}

#pierna-derecha .abajo,
#pierna-izquierda .abajo {
  background-color: #282828;
}

/* PERSONAJE AGACHADO ////////////////////////////////////////////////*/
.cabeza--agachado {
  transform: translateX(40px) translateY(35px) translateZ(115px) !important;
  animation: none !important;
}

.tronco--agachado {
  transform: translate(40px) translateY(110px) translateZ(40px)
    rotateX(-35deg) !important;
  animation: none !important;
}

.brazo-izquierdo--agachado {
  transform: translateX(120px) translateY(110px) translateZ(40px)
    rotateX(-25deg) !important;
  animation: none !important;
}

.brazo-derecho--agachado {
  transform: translateY(110px) translateZ(40px) rotateX(-25deg) !important;
  animation: none !important;
}

.pierna-izquierda--agachado,
.pierna-derecha--agachado {
  animation: none !important;
}

/* OTROS///////////////////////////////// */
:root {
  --primario: #67d4ff;
  --secundario: #4cc9ff;
}

body {
  height: 100vh;
  background: repeating-conic-gradient(
    at 20% 20%,
    var(--primario) 10%,
    var(--secundario) 10% 20%,
    var(--primario) 20% 30%,
    var(--secundario) 30% 40%,
    var(--primario) 40% 50%,
    var(--secundario) 50% 60%,
    var(--primario) 60% 70%,
    var(--secundario) 70% 80%,
    var(--primario) 80% 90%,
    var(--secundario) 90%
  );
  /* background: linear-gradient(#3c7bf9, #e5ecff 80%); */
  /* background: linear-gradient(#7ec9fd, #aeddff 60%); */

  overflow: hidden;
}

.github {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.842);
  display: flex;
  justify-content: end;
  width: 90px;
  height: 90px;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  padding: 10px;
}

.github a {
  color: white;
  font-size: 2.5rem;
}

.footer-lista {
  background-color: rgb(74, 74, 74);
  color: white;
  padding: 15px;
  border-radius: 5px;
  width: max-content;
  margin: auto;
  padding-left: 40px;
  font-size: 1.1rem;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 445px;
}

.footer-lista b {
  color: hsl(185, 100%, 87%);
}

/* ///////////////////////////////////////////////////////////// */
/* DETALLES EXTRAS: OJOS,NARIZ, ETC ////////////////////////////*/

/* OJOS */
#cabeza .frente::after {
  content: '';
  width: 60px;
  height: 10px;
  background: linear-gradient(
    to right,
    white 16.66%,
    #423095 16.66% 33.32%,
    transparent 33.32% 66.66%,
    #423095 66.66% 83.32%,
    white 83.32%
  );
  position: absolute;
  top: 40px;
  left: 10px;
}

/* BIGOTE */
#cabeza .frente::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: #56391e;
  top: 60px;
  left: 20px;
}

#cabeza .frente div {
  width: 100%;
  height: 100%;
}

/* NARIZ Y BOCA */
#cabeza .frente div::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ff1111;
  background: linear-gradient(#8b583e 50%, #ec8d72 50%);
  top: 50px;
  left: 30px;
}
