/* @import url(colores.css); */

* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: sans-serif;
}
html {
  font-size: 62.5%; /* PARA USAR -> 1rem = 10px */
}
/*/////////////////////////*/

#cabeza,
#tronco,
#brazo-derecho,
#brazo-izquierdo,
#pierna-derecha,
#pierna-izquierda {
  position: absolute;
  transform-style: preserve-3d;
}

.frente,
.detras,
.arriba,
.abajo,
.izquierda,
.derecha {
  position: absolute;
}

.frente,
.detras {
  background: rgb(97, 97, 97);
}

.arriba {
  background: rgb(110, 110, 110);
}

.abajo {
  background: rgb(46, 46, 46);
}

.izquierda,
.derecha {
  background: rgb(71, 71, 71);
}

#cabeza {
  /* animation: moverCabeza 1s linear infinite; */
  width: 80px;
  height: 80px;
  transform-origin: 100% 50% 10px;
  transform: translateX(40px) translateZ(40px);
  z-index: 3;
}

#cabeza .frente,
#cabeza .arriba,
#cabeza .izquierda,
#cabeza .derecha,
#cabeza .detras,
#cabeza .abajo {
  width: 80px;
  height: 80px;
}

#cabeza .frente {
  text-align: center;
}

#cabeza .arriba {
  transform-origin: center bottom;
  transform: rotateX(90deg) translateZ(80px);
}

#cabeza .abajo {
  transform-origin: center top;
  transform: translateY(80px) rotateX(-90deg);
}

#cabeza .izquierda {
  transform-origin: center right;
  transform: translateX(-80px) translateZ(-80px) rotateY(90deg);
}

#cabeza .derecha {
  transform-origin: center left;
  transform: translateX(80px) rotateY(90deg);
}

#cabeza .detras {
  transform: translateZ(-80px) rotateY(180deg);
}

#tronco {
  width: 80px;
  height: 120px;
  transform: translateX(40px) translateY(80px) translateZ(20px);
}

#tronco .frente,
#tronco .detras {
  width: 80px;
  height: 120px;
}

#tronco .arriba,
#tronco .abajo {
  width: 80px;
  height: 40px;
}

#tronco .izquierda,
#tronco .derecha {
  width: 40px;
  height: 120px;
}

#tronco .arriba {
  transform-origin: center bottom;
  transform: rotateX(90deg) translateZ(40px);
}

#tronco .abajo {
  transform-origin: center top;
  transform: translateY(120px) rotateX(-90deg);
}

#tronco .derecha {
  transform-origin: center right;
  transform: translateX(-40px) rotateY(-90deg);
}

#tronco .izquierda {
  transform-origin: center left;
  transform: translateX(80px) rotateY(90deg);
}

#tronco .detras {
  transform: translateZ(-40px) rotateY(180deg);
}

#brazo-izquierdo {
  transform: translateX(120px) translateY(80px) translateZ(20px);
  animation: girarBrazoIzquierdo 0.6s linear infinite;
  transform-origin: 100% 75% 0;
}

#brazo-derecho {
  transform: translateY(80px) translateZ(20px);
  animation: girarBrazoDerecho 0.6s linear infinite;
  transform-origin: 0% 75% 0;
}

#pierna-izquierda {
  transform: translateX(80px) translateY(40px) translateZ(20px);
  animation: girarPiernaIzquierda 0.6s linear infinite;
  transform-origin: 100% 50% 0;
  top: 160px;
}

#pierna-derecha {
  transform: translateX(40px) translateY(40px) translateZ(20px);
  animation: girarPiernaDerecha 0.6s linear infinite;
  transform-origin: 0% 50% 0;
  top: 160px;
}

#brazo-izquierdo,
#brazo-derecho,
#pierna-izquierda,
#pierna-derecha {
  width: 40px;
  height: 120px;
}

#brazo-izquierdo .frente,
#brazo-izquierdo .detras,
#brazo-izquierdo .izquierda,
#brazo-izquierdo .derecha,
#brazo-derecho .frente,
#brazo-derecho .detras,
#brazo-derecho .izquierda,
#brazo-derecho .derecha,
#pierna-izquierda .frente,
#pierna-izquierda .detras,
#pierna-izquierda .izquierda,
#pierna-izquierda .derecha,
#pierna-derecha .frente,
#pierna-derecha .detras,
#pierna-derecha .izquierda,
#pierna-derecha .derecha {
  width: 40px;
  height: 120px;
}

#brazo-izquierdo .arriba,
#brazo-izquierdo .abajo,
#brazo-derecho .arriba,
#brazo-derecho .abajo,
#pierna-izquierda .arriba,
#pierna-izquierda .abajo,
#pierna-derecha .arriba,
#pierna-derecha .abajo {
  width: 40px;
  height: 40px;
}

#brazo-izquierdo .arriba,
#brazo-derecho .arriba,
#pierna-izquierda .arriba,
#pierna-derecha .arriba {
  transform-origin: center bottom;
  transform: rotateX(90deg) translateZ(40px);
}

#brazo-izquierdo .abajo,
#brazo-derecho .abajo,
#pierna-izquierda .abajo,
#pierna-derecha .abajo {
  transform-origin: center top;
  transform: translateY(120px) rotateX(-90deg);
}

#brazo-izquierdo .izquierda,
#brazo-derecho .izquierda,
#pierna-izquierda .izquierda,
#pierna-derecha .izquierda {
  transform-origin: center right;
  transform: translateX(-40px) rotateY(-90deg);
}

#brazo-izquierdo .derecha,
#brazo-derecho .derecha,
#pierna-izquierda .derecha,
#pierna-derecha .derecha {
  transform-origin: center left;
  transform: translateX(40px) rotateY(90deg);
}

#brazo-izquierdo .detras,
#brazo-derecho .detras,
#pierna-izquierda .detras,
#pierna-derecha .detras {
  transform: translateZ(-40px) rotateY(180deg);
}

@keyframes moverCabeza {
  0% {
    transform: translateX(40px) translateZ(40px);
  }

  50% {
    transform: translateX(40px) translateZ(40px) rotateX(0deg);
  }

  100% {
    transform: translateX(40px) translateZ(40px);
  }
}

@keyframes girarBrazoIzquierdo {
  0% {
    transform: rotateX(-25deg) translateX(120px) translateY(80px)
      translateZ(20px);
  }

  50% {
    transform: rotateX(25deg) translateX(120px) translateY(80px)
      translateZ(20px);
  }

  100% {
    transform: rotateX(-25deg) translateX(120px) translateY(80px)
      translateZ(20px);
  }
}

@keyframes girarBrazoDerecho {
  0% {
    transform: rotateX(25deg) translateY(80px) translateZ(20px);
  }

  50% {
    transform: rotateX(-25deg) translateY(80px) translateZ(20px);
  }

  100% {
    transform: rotateX(25deg) translateY(80px) translateZ(20px);
  }
}

@keyframes girarPiernaIzquierda {
  0% {
    transform: rotateX(25deg) translateX(80px) translateY(40px)
      translateZ(20px);
  }

  50% {
    transform: rotateX(-25deg) translateX(80px) translateY(40px)
      translateZ(20px);
  }

  100% {
    transform: rotateX(25deg) translateX(80px) translateY(40px)
      translateZ(20px);
  }
}

@keyframes girarPiernaDerecha {
  0% {
    transform: rotateX(-25deg) translateX(40px) translateY(40px)
      translateZ(20px);
  }

  50% {
    transform: rotateX(25deg) translateX(40px) translateY(40px)
      translateZ(20px);
  }

  100% {
    transform: rotateX(-25deg) translateX(40px) translateY(40px)
      translateZ(20px);
  }
}

/* COLOREADO//////////////////////////// */

/* CABEZA */
#cabeza .arriba {
  background-color: var(--cafe-2);
}

#cabeza .detras {
  background: linear-gradient(var(--cafe-1) 87.5%, var(--piel-1) 87.5%);
}

#cabeza .abajo {
  background: linear-gradient(var(--cafe-3) 50%, var(--piel-3) 50%);
}

#cabeza .frente {
  background: linear-gradient(var(--cafe-1) 26%, var(--piel-1) 26%);
}

#cabeza .derecha {
  background: linear-gradient(var(--cafe-3) 53%, var(--piel-2) 53%);
}

#cabeza .izquierda {
  background: linear-gradient(var(--cafe-3) 53%, var(--piel-2) 53%);
}

/* CUERPO */
#tronco .frente,
#tronco .detras {
  background: linear-gradient(var(--celeste-1) 79.5%, var(--azul-1) 79.5%);
}

#tronco .arriba {
  background: var(--celeste-2);
}

#tronco .derecha,
#tronco .izquierda {
  background: linear-gradient(var(--celeste-3) 79.5%, var(--azul-2) 79.5%);
}

#tronco .abajo {
  background: var(--azul-1);
}

/* BRAZOS */
#brazo-derecho .frente,
#brazo-derecho .detras,
#brazo-izquierdo .frente,
#brazo-izquierdo .detras {
  background: linear-gradient(var(--celeste-1) 40%, var(--piel-1) 40%);
}

#brazo-derecho .izquierda,
#brazo-derecho .derecha,
#brazo-izquierdo .izquierda,
#brazo-izquierdo .derecha {
  background: linear-gradient(var(--celeste-3) 40%, var(--piel-2) 40%);
}

#brazo-derecho .arriba,
#brazo-izquierdo .arriba {
  background-color: var(--celeste-2);
}

#brazo-derecho .abajo,
#brazo-izquierdo .abajo {
  background-color: var(--piel-3);
}

/* PIERNAS */
#pierna-derecha .frente,
#pierna-izquierda .frente {
  background: linear-gradient(var(--azul-1) 80%, var(--gris-1) 80%);
}

#pierna-derecha .detras,
#pierna-izquierda .detras {
  background: linear-gradient(
    to top,
    var(--gris-1) 37.5px,
    var(--azul-1) 37.5px
  );
}

#pierna-derecha .izquierda,
#pierna-derecha .derecha,
#pierna-izquierda .izquierda,
#pierna-izquierda .derecha {
  background: linear-gradient(var(--azul-2) 80%, var(--gris-2) 80%);
}

#pierna-derecha .arriba,
#pierna-izquierda .arriba {
  background-color: var(--azul-3);
}

#pierna-derecha .abajo,
#pierna-izquierda .abajo {
  background-color: var(--gris-3);
}

/* PERSONAJE AGACHADO ////////////////////////////////////////////////*/
.cabeza--agachado {
  transform: translateX(40px) translateY(35px) translateZ(115px) !important;
  animation: none !important;
}

.tronco--agachado {
  transform: translate(40px) translateY(110px) translateZ(40px)
    rotateX(-35deg) !important;
  animation: none !important;
}

.brazo-izquierdo--agachado {
  transform: translateX(120px) translateY(110px) translateZ(40px)
    rotateX(-25deg) !important;
  animation: none !important;
}

.brazo-derecho--agachado {
  transform: translateY(110px) translateZ(40px) rotateX(-25deg) !important;
  animation: none !important;
}

.pierna-izquierda--agachado,
.pierna-derecha--agachado {
  animation: none !important;
}

/* ///////////////////////////////////////////////////////////// */
/* DETALLES EXTRAS: OJOS,NARIZ, ETC ////////////////////////////*/

/* OJOS */
#cabeza .frente::after {
  content: '';
  width: 60px;
  height: 10px;
  background: linear-gradient(
    to right,
    white 16.66%,
    var(--ojos) 16.66% 33.32%,
    transparent 33.32% 66.66%,
    var(--ojos) 66.66% 83.32%,
    white 83.32%
  );
  position: absolute;
  top: 40px;
  left: 10px;
}

/* BIGOTE */
#cabeza .frente::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: var(--cafe-1);
  top: 60px;
  left: 20px;
}

#cabeza .frente div {
  width: 100%;
  height: 100%;
}

/* NARIZ Y BOCA */
#cabeza .frente div::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50px;
  left: 30px;
  background: linear-gradient(var(--cafe-0) 50%, var(--piel-4) 50%);
}

/* LOS PELOS DE  AMBOS LADOS DE LA FRENTE */
#cabeza .frente div::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 10px;
  top: 20px;
  left: 0px;
  background-color: #ff000095;
  background: linear-gradient(
    to right,
    var(--cafe-1) 12.5%,
    transparent 12.5% 87.5%,
    var(--cafe-1) 87.5%
  );
}

/* PELOS DEL LADO DERECHO  */
#cabeza .derecha:after {
  content: '';
  width: 80px;
  height: 10px;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: red;
  background: linear-gradient(
    to right,
    var(--cafe-3) 12.5%,
    var(--piel-2) 12.5% 37.5%,
    var(--cafe-3) 37.5%
  );
}

#cabeza .derecha:before {
  content: '';
  width: 80px;
  height: 10px;
  position: absolute;
  top: 50px;
  left: 0;
  background: linear-gradient(
    to right,
    var(--piel-2) 37.5%,
    var(--cafe-3) 37.5%
  );
}

#cabeza .derecha div {
  width: 100%;
  height: 100%;
}

#cabeza .derecha div:after {
  content: '';
  width: 80px;
  height: 10px;
  position: absolute;
  top: 60px;
  left: 0;
  background: linear-gradient(
    to right,
    var(--piel-2) 70%,
    var(--cafe-3) 70%
  );
}

/* PELOS DEL LADO DERECHO  */
#cabeza .izquierda:after {
  content: '';
  width: 80px;
  height: 10px;
  position: absolute;
  top: 40px;
  left: 0;
  background-color: red;
  background: linear-gradient(
    to right,
    var(--cafe-3) 12.5%,
    var(--piel-2) 12.5% 37.5%,
    var(--cafe-3) 37.5%
  );
}

#cabeza .izquierda:before {
  content: '';
  width: 80px;
  height: 10px;
  position: absolute;
  top: 50px;
  left: 0;
  background: linear-gradient(
    to right,
    var(--piel-2) 37.5%,
    var(--cafe-3) 37.5%
  );
}

#cabeza .izquierda div {
  width: 100%;
  height: 100%;
}

#cabeza .izquierda div:after {
  content: '';
  width: 80px;
  height: 10px;
  position: absolute;
  top: 60px;
  left: 0;
  background: linear-gradient(
    to right,
    var(--piel-2) 70%,
    var(--cafe-3) 70%
  );
}

/* CUELLO */
#tronco .frente::after {
  content: '';
  width: 40px;
  height: 12.5px;
  background-color: var(--piel-1);
  top: 0;
  left: 20px;
  position: absolute;
}

#tronco .frente::before {
  content: '';
  width: 20px;
  height: 12.5px;
  background-color: var(--piel-1);
  top: 10px;
  left: 30px;
  position: absolute;
}

/* PARTE BAJA DEL TRONCO FRONTAL */
#tronco .frente div {
  width: 100%;
  height: 100%;
}

#tronco .frente div::after {
  content: '';
  width: 25px;
  height: 12.5px;
  background-color: var(--celeste-1);
  bottom: 12.5px;
  right: 0;
  position: absolute;
}

#tronco .frente div::before {
  content: '';
  width: 12.5px;
  height: 12.5px;
  background-color: var(--celeste-1);
  bottom: 0px;
  right: 0;
  position: absolute;
}

/* PARTE BAJA DEL TRONCO IZQUIERDA */
#tronco .izquierda:after {
  content: '';
  width: 12.5px;
  height: 12.5px;
  background-color: var(--celeste-3);
  position: absolute;
  bottom: 12.5px;
  left: 0;
}

/* RODILLAS */
#pierna-izquierda::after,
#pierna-derecha::after {
  content: '';
  width: 25px;
  height: 12.5px;
  background-color: var(--azul-4);
  position: absolute;
  top: 50px;
  left: 8px;
}

/* DETALLES DE LOS ZAPATOS DE LOS COSTADOS */
#pierna-derecha .izquierda::after,
#pierna-izquierda .izquierda::after {
  content: '';
  width: 20px;
  height: 12.5px;
  position: absolute;
  background-color: var(--gris-2);
  bottom: 24px;
  left: 0;
}

#pierna-izquierda .derecha::after,
#pierna-derecha .derecha::after {
  content: '';
  width: 20px;
  height: 12.5px;
  position: absolute;
  background-color: var(--gris-2);
  bottom: 24px;
  right: 0;
}

/* CUELLO OCULTO DEBAJO DE LA CABEZA */
#tronco .arriba:after {
  content: '';
  width: 60px;
  height: 12.5px;
  background-color: var(--piel-1);
  bottom: 0;
  left: 10px;
  position: absolute;
}

/* NO MOVERSE */
.quieto {
  animation: none !important;
}

/* /////////////////////////////////////////////////////////////////////// */
body {
  overflow: hidden;
}

main {
  /* background-color: rgba(255, 0, 0, 0.5); */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: rotateX(-25deg) rotateY(-35deg);
  transition: 0.05s;
}

#contenedor-steve {
  /* background-color: rgba(34, 255, 0, 0.752); */
  transform-style: preserve-3d;
  transition: 0.4s;
  zoom: 1.3;
  position: relative;

  /* transform: translateX(-50px) translateZ(-100px); */
}

#steve {
  width: 160px;
  height: 320px;
  position: relative;
  transform-style: preserve-3d;
  /* border: 1px solid black; */
  transition: 0.4s;
}

/* SOMBRA */
#contenedor-sombra {
  width: 140px;
  height: 140px;
  /* background-color: rgba(255, 0, 0, 0.363);c */
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(89deg) translateZ(-70px) translateX(8px);
}

#sombra {
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.263);
  border-radius: 50%;
  transition: 0.4s;
}

/* ///////////////////////////// */
body {
  overflow: hidden;
}
footer {
  background-color: transparent;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 16px;
}

footer article {
  background-color: #333;
  color: white;
  border-radius: 5px;
  padding: 16px;
  line-height: 26px;
  padding-left: 45px;
  width: max-content;
  position: relative;
}
footer article span {
  margin-left: -30px;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 2.1rem;
}

footer article li {
  font-size: 1.9rem;
  letter-spacing: 1px;
  font-family: Tahoma, sans-serif;
  font-weight: lighter;
}
footer article li b {
  font-size: 1.9rem;
  color: rgb(134, 255, 255);
  font-family: Tahoma, sans-serif;
  font-weight: lighter;
}

@media (max-width: 680px) {
  footer {
    display: none;
    justify-content: right;
  }
  #movimientos {
    display: none;
  }
  header {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
  }
}

html {
  overflow: hidden;
}

body {
  background: var(--fondo);
}
/* ////////////////////////// */
.contenedor-brujula {
  background-color: rgba(255, 255, 255, 0);
  /* background-color: rgba(255, 0, 0, 0.567); */
  /* border-radius: 100%; */
  width: 200px;
  height: 200px;
  right: 0;
  bottom: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#brujula {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: radial-gradient(
    rgb(98, 98, 98) 0%,
    rgb(62, 62, 62) 13% 14%,
    transparent 14% 40%,
    rgb(98, 98, 98) 40%,
    rgb(62, 62, 62) 58%
  );

  background: radial-gradient(
    rgb(45, 45, 45) 0% 5%,
    transparent 5% 13%,
    rgb(45, 45, 45) 13% 15%,
    transparent 15% 40%,
    rgb(98, 98, 98) 40%,
    rgb(62, 62, 62) 68%
  );

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#brujula #flecha {
  background-color: green;
  height: 5px;
  width: 48%;
  position: absolute;
  background: linear-gradient(
    to left,
    rgb(45, 45, 45) 0%,
    rgb(92, 92, 92) 50%,
    transparent 50%
  );
  transition: 0.3s;
  transform: rotateZ(119.5deg);
}

#brujula #flecha:after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: -7.5px;
  transform: rotateZ(45deg);
  border-top: 3.5px solid rgb(45, 45, 45);
  border-right: 3.5px solid rgb(45, 45, 45);

  /* background-color: rgb(45, 45, 45); 
   clip-path: polygon(100% 0, 0 0, 100% 100%); */
}

.contenedor-letras {
  /* background-color: rgba(0, 0, 255, 0.242); */
  width: 69%;
  height: 69%;
  display: flex;
  justify-content: space-between;
  transform: rotateZ(-15deg);
}
.contenedor-letras div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenedor-letras div p {
  font-size: 2.4rem;
  color: white;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  text-align: center;
  transform: rotateZ(42deg);
  text-shadow: 4px 2px 2px rgb(25, 25, 25);
}

.coloreado {
  color: rgb(65, 220, 255) !important;
}

/* HEADER */
header {
  /* background-color: red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  color: var(--letra);
}

#contadorVisitas {
  height: 25px;
}
#desarrolladoPor a {
  text-decoration: none;
  font-weight: bold;
  color: var(--letra2);
}
#desarrolladoPor a:hover {
  color: rgb(73, 62, 221);
  text-decoration: underline;
}

/* ///////////////////////////////////////////////////////////////////// */
/* PERSONAJE EMOTE EPICO ///////////////////////////////////////////////*/
.cabeza--epico {
  transform: translateX(0px) translateY(30px) translateZ(60px)
    rotateX(-35deg) rotateY(-25deg) rotateZ(-25deg) !important;
  animation: none !important;
}

.tronco--epico {
  transform: translateX(40px) translateY(80px) translateZ(20px) !important;
  animation: none !important;
}

.brazo-izquierdo--epico {
  transform: translateX(142px) translateY(-55px) translateZ(20px)
    rotateZ(-120deg) !important;
  /* animation: none !important; */
}

.brazo-derecho--epico {
  transform: translateX(45px) translateY(0px) translateZ(85px)
    rotateX(80deg) rotateZ(-30deg) !important;
  /* animation: none !important; */
}

.pierna-izquierda--epico,
.pierna-derecha--epico {
  animation: none;
}

/* ///////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// */
