#pierna-derecha {
  position: absolute;
  transform-style: preserve-3d;

  transform: translateX(40px) translateY(40px) translateZ(20px);
  transform-origin: 0% 50% 0;
  top: 160px;

  width: 40px;
  height: 120px;

  transition: 0.4s;

  &.moverse {
    animation: girarPiernaDerecha 0.5s linear infinite alternate;
  }

  .frente {
    position: absolute;
    background: rgb(97, 97, 97);
    width: 40px;
    height: 120px;
  }

  .detras {
    position: absolute;
    background: rgb(97, 97, 97);
    width: 40px;
    height: 120px;
    transform: translateZ(-40px) rotateY(180deg);
  }

  .derecha {
    position: absolute;
    background: rgb(71, 71, 71);
    width: 40px;
    height: 120px;
    transform-origin: center right;
    transform: translateX(-40px) rotateY(-90deg);
  }

  .izquierda {
    position: absolute;
    background: rgb(71, 71, 71);
    width: 40px;
    height: 120px;
    transform-origin: center left;
    transform: translateX(40px) rotateY(90deg);
  }

  .arriba {
    position: absolute;
    background: rgb(110, 110, 110);
    width: 40px;
    height: 40px;
    transform-origin: center bottom;
    transform: rotateX(90deg) translateZ(40px);
  }

  .abajo {
    position: absolute;
    background: rgb(46, 46, 46);
    width: 40px;
    height: 40px;
    transform-origin: center top;
    transform: translateY(120px) rotateX(-90deg);
  }
}