#tronco {
  position: absolute;
  transform-style: preserve-3d;

  width: 80px;
  height: 120px;
  transform: translateX(40px) translateY(80px) translateZ(20px);

  transition: 0.4s;

  .frente {
    position: absolute;
    background: rgb(97, 97, 97);
    width: 80px;
    height: 120px;
  }

  .detras {
    position: absolute;
    background: rgb(97, 97, 97);
    transform: translateZ(-40px) rotateY(180deg);
    width: 80px;
    height: 120px;
  }

  .derecha {
    position: absolute;
    background: rgb(71, 71, 71);
    transform-origin: center right;
    transform: translateX(-40px) rotateY(-90deg);
    width: 40px;
    height: 120px;
  }

  .izquierda {
    position: absolute;
    background: rgb(71, 71, 71);
    transform-origin: center left;
    transform: translateX(80px) rotateY(90deg);
    width: 40px;
    height: 120px;
  }

  .arriba {
    position: absolute;
    background: rgb(110, 110, 110);
    transform-origin: center bottom;
    transform: rotateX(90deg) translateZ(40px);
    width: 80px;
    height: 40px;
  }

  .abajo {
    position: absolute;
    background: rgb(46, 46, 46);
    transform-origin: center top;
    transform: translateY(120px) rotateX(-90deg);
    width: 80px;
    height: 40px;
  }
}