#brazo-derecho {
  .frente {
    background-image: var(--avatar);
    background-position: -440px -200px;
    background-size: 640px 640px;
    image-rendering: pixelated;
  }

  .detras {
    background-image: var(--avatar);
    background-position: -520px -200px;
    background-size: 640px 640px;
    image-rendering: pixelated;
  }

  .derecha {
    background-image: var(--avatar);
    background-position: -400px -200px;
    background-size: 640px 640px;
    image-rendering: pixelated;
  }

  .izquierda {
    background-image: var(--avatar);
    background-position: -480px -200px;
    background-size: 640px 640px;
    image-rendering: pixelated;
  }

  .arriba {
    background-image: var(--avatar);
    background-position: -440px -160px;
    background-size: 640px 640px;
    image-rendering: pixelated;
  }

  .abajo {
    background-image: var(--avatar);
    background-position: -480px -160px;
    background-size: 640px 640px;
    image-rendering: pixelated;
  }
}