#brazo-derecho {
  .frente {
    background:
      linear-gradient(90deg, #1A9594 0 10px, #1A9998 10px 20px, #1A9492 20px 30px, #17807E 30px 40px),
      linear-gradient(90deg, #1CAAA9 0 10px, #1BA09E 10px 20px, #1B9E9D 20px 30px, #198F8D 30px 40px),
      linear-gradient(90deg, #1BA2A1 0 10px, #1CAAA9 10px 20px, #1CAAA9 20px 30px, #1CAAA9 30px 40px),
      linear-gradient(90deg, #1A9797 0 10px, #1DADAA 10px 20px, #1DADAA 20px 30px, #1A9A9A 30px 40px),
      linear-gradient(90deg, #9B7259 0 10px, #9B7259 10px 20px, #9B7259 20px 30px, #9B7259 30px 40px),
      linear-gradient(90deg, #9B7259 0 10px, #85644F 10px 20px, #9B7259 20px 30px, #9B7259 30px 40px),
      linear-gradient(90deg, #9B7259 0 10px, #85644F 10px 20px, #9B7259 20px 30px, #85644F 30px 40px),
      linear-gradient(90deg, #9B7259 0 10px, #9B7259 10px 20px, #9B7259 20px 30px, #85644F 30px 40px),
      linear-gradient(90deg, #9B7259 0 10px, #9B7259 10px 20px, #9B7259 20px 30px, #85644F 30px 40px),
      linear-gradient(90deg, #9B7259 0 10px, #9B7259 10px 20px, #9B7259 20px 30px, #9B7259 30px 40px),
      linear-gradient(90deg, #9B7259 0 10px, #9B7259 10px 20px, #85644F 20px 30px, #9B7259 30px 40px),
      linear-gradient(90deg, #85644F 0 10px, #9B7259 10px 20px, #85644F 20px 30px, #85644F 30px 40px);
    /* 40px ancho total y 10px de alto de esa unica fila */
    background-size: 40px 10px;
    /* Cada fila desplazada verticalmente 10px */
    background-position:
      0px 0px,
      0px 10px,
      0px 20px,
      0px 30px,
      0px 40px,
      0px 50px,
      0px 60px,
      0px 70px,
      0px 80px,
      0px 90px,
      0px 100px,
      0px 110px;
    background-repeat: no-repeat;
  }

  .detras {
    background:
      linear-gradient(90deg, #17807E 0 10px, #1A9492 10px 20px, #1A9998 20px 30px, #1A9594 30px 40px),
      linear-gradient(90deg, #198F8D 0 10px, #1B9E9D 10px 20px, #1BA09E 20px 30px, #1CAAA9 30px 40px),
      linear-gradient(90deg, #1CAAA9 0 10px, #1CAAA9 10px 20px, #1CAAA9 20px 30px, #1BA2A1 30px 40px),
      linear-gradient(90deg, #1A9A9A 0 10px, #1DADAA 10px 20px, #1DADAA 20px 30px, #1A9797 30px 40px),
      linear-gradient(90deg, #9B7259 0 10px, #9B7259 10px 20px, #9B7259 20px 30px, #9B7259 30px 40px),
      linear-gradient(90deg, #9B7259 0 10px, #9B7259 10px 20px, #85644F 20px 30px, #9B7259 30px 40px),
      linear-gradient(90deg, #85644F 0 10px, #9B7259 10px 20px, #85644F 20px 30px, #9B7259 30px 40px),
      linear-gradient(90deg, #85644F 0 10px, #9B7259 10px 20px, #9B7259 20px 30px, #9B7259 30px 40px),
      linear-gradient(90deg, #85644F 0 10px, #9B7259 10px 20px, #9B7259 20px 30px, #9B7259 30px 40px),
      linear-gradient(90deg, #9B7259 0 10px, #9B7259 10px 20px, #9B7259 20px 30px, #9B7259 30px 40px),
      linear-gradient(90deg, #9B7259 0 10px, #85644F 10px 20px, #9B7259 20px 30px, #9B7259 30px 40px),
      linear-gradient(90deg, #85644F 0 10px, #85644F 10px 20px, #9B7259 20px 30px, #85644F 30px 40px);
    /* 40px ancho total y 10px de alto de esa unica fila */
    background-size: 40px 10px;
    /* Cada fila desplazada verticalmente 10px */
    background-position:
      0px 0px,
      0px 10px,
      0px 20px,
      0px 30px,
      0px 40px,
      0px 50px,
      0px 60px,
      0px 70px,
      0px 80px,
      0px 90px,
      0px 100px,
      0px 110px;
    background-repeat: no-repeat;
  }

  .derecha {
    background:
      linear-gradient(90deg, #125458 0 10px, #125458 10px 20px, #125458 20px 30px, #125458 30px 40px),
      linear-gradient(90deg, #114346 0 10px, #114346 10px 20px, #114346 20px 30px, #125458 30px 40px),
      linear-gradient(90deg, #125458 0 10px, #114346 10px 20px, #114346 20px 30px, #125458 30px 40px),
      linear-gradient(90deg, #125458 0 10px, #114346 10px 20px, #114346 20px 30px, #125458 30px 40px),
      linear-gradient(90deg, #5A3B28 0 10px, #5A3B28 10px 20px, #5A3B28 20px 30px, #4E3223 30px 40px),
      linear-gradient(90deg, #5A3B28 0 10px, #5A3B28 10px 20px, #5A3B28 20px 30px, #4E3223 30px 40px),
      linear-gradient(90deg, #4E3223 0 10px, #5A3B28 10px 20px, #5A3B28 20px 30px, #4E3223 30px 40px),
      linear-gradient(90deg, #4E3223 0 10px, #5A3B28 10px 20px, #5A3B28 20px 30px, #5A3B28 30px 40px),
      linear-gradient(90deg, #4E3223 0 10px, #5A3B28 10px 20px, #4E3223 20px 30px, #5A3B28 30px 40px),
      linear-gradient(90deg, #5A3B28 0 10px, #5A3B28 10px 20px, #4E3223 20px 30px, #5A3B28 30px 40px),
      linear-gradient(90deg, #5A3B28 0 10px, #5A3B28 10px 20px, #4E3223 20px 30px, #5A3B28 30px 40px),
      linear-gradient(90deg, #5A3B28 0 10px, #5A3B28 10px 20px, #5A3B28 20px 30px, #5A3B28 30px 40px);
    /* 40px ancho total y 10px de alto de esa unica fila */
    background-size: 40px 10px;
    /* Cada fila desplazada verticalmente 10px */
    background-position:
      0px 0px,
      0px 10px,
      0px 20px,
      0px 30px,
      0px 40px,
      0px 50px,
      0px 60px,
      0px 70px,
      0px 80px,
      0px 90px,
      0px 100px,
      0px 110px;
    background-repeat: no-repeat;
  }

  .izquierda {
    background:
      linear-gradient(90deg, #125458 0 10px, #125458 10px 20px, #125458 20px 30px, #125458 30px 40px),
      linear-gradient(90deg, #125458 0 10px, #114346 10px 20px, #114346 20px 30px, #114346 30px 40px),
      linear-gradient(90deg, #125458 0 10px, #114346 10px 20px, #114346 20px 30px, #125458 30px 40px),
      linear-gradient(90deg, #125458 0 10px, #114346 10px 20px, #114346 20px 30px, #125458 30px 40px),
      linear-gradient(90deg, #4E3223 0 10px, #5A3B28 10px 20px, #5A3B28 20px 30px, #5A3B28 30px 40px),
      linear-gradient(90deg, #4E3223 0 10px, #5A3B28 10px 20px, #5A3B28 20px 30px, #5A3B28 30px 40px),
      linear-gradient(90deg, #4E3223 0 10px, #5A3B28 10px 20px, #5A3B28 20px 30px, #4E3223 30px 40px),
      linear-gradient(90deg, #5A3B28 0 10px, #5A3B28 10px 20px, #5A3B28 20px 30px, #4E3223 30px 40px),
      linear-gradient(90deg, #5A3B28 0 10px, #4E3223 10px 20px, #5A3B28 20px 30px, #4E3223 30px 40px),
      linear-gradient(90deg, #5A3B28 0 10px, #4E3223 10px 20px, #5A3B28 20px 30px, #5A3B28 30px 40px),
      linear-gradient(90deg, #5A3B28 0 10px, #4E3223 10px 20px, #5A3B28 20px 30px, #5A3B28 30px 40px),
      linear-gradient(90deg, #5A3B28 0 10px, #5A3B28 10px 20px, #5A3B28 20px 30px, #5A3B28 30px 40px);
    /* 40px ancho total y 10px de alto de esa unica fila */
    background-size: 40px 10px;
    /* Cada fila desplazada verticalmente 10px */
    background-position:
      0px 0px,
      0px 10px,
      0px 20px,
      0px 30px,
      0px 40px,
      0px 50px,
      0px 60px,
      0px 70px,
      0px 80px,
      0px 90px,
      0px 100px,
      0px 110px;
    background-repeat: no-repeat;
  }


  .arriba {
    background:
      linear-gradient(90deg, #1A9594 0 10px, #1A9998 10px 20px, #1A9492 20px 30px, #17807E 30px 40px),
      linear-gradient(90deg, #1CAAA9 0 10px, #1BA09E 10px 20px, #1B9E9D 20px 30px, #198F8D 30px 40px),
      linear-gradient(90deg, #1BA2A1 0 10px, #1CAAA9 10px 20px, #1CAAA9 20px 30px, #1CAAA9 30px 40px),
      linear-gradient(90deg, #1A9797 0 10px, #1DADAA 10px 20px, #1DADAA 20px 30px, #1A9A9A 30px 40px);
    /* 40px ancho total y 10px de alto de esa unica fila */
    background-size: 40px 10px;
    /* Cada fila desplazada verticalmente 10px */
    background-position:
      0px 0px,
      0px 10px,
      0px 20px,
      0px 30px,
      0px 40px,
      0px 50px,
      0px 60px,
      0px 70px,
      0px 80px,
      0px 90px,
      0px 100px,
      0px 110px;
    background-repeat: no-repeat;
  }

  .abajo {
    background:
      linear-gradient(90deg, #85644F 0 10px, #9B7259 10px 20px, #9B7259 20px 30px, #9B7259 30px 40px),
      linear-gradient(90deg, #9B7259 0 10px, #9B7259 10px 20px, #9B7259 20px 30px, #9B7259 30px 40px),
      linear-gradient(90deg, #9B7259 0 10px, #85644F 10px 20px, #9B7259 20px 30px, #9B7259 30px 40px),
      linear-gradient(90deg, #85644F 0 10px, #85644F 10px 20px, #9B7259 20px 30px, #85644F 30px 40px);
    /* 40px ancho total y 10px de alto de esa unica fila */
    background-size: 40px 10px;
    /* Cada fila desplazada verticalmente 10px */
    background-position:
      0px 0px,
      0px 10px,
      0px 20px,
      0px 30px,
      0px 40px,
      0px 50px,
      0px 60px,
      0px 70px,
      0px 80px,
      0px 90px,
      0px 100px,
      0px 110px;
    background-repeat: no-repeat;
  }
}