#brazo-derecho .frente,
#brazo-derecho .detras,
#brazo-izquierdo .frente,
#brazo-izquierdo .detras {
  background: linear-gradient(var(--celeste-1) 40%, var(--piel-1) 40%);
}

#brazo-derecho .izquierda,
#brazo-derecho .derecha,
#brazo-izquierdo .izquierda,
#brazo-izquierdo .derecha {
  background: linear-gradient(var(--celeste-3) 40%, var(--piel-2) 40%);
}

#brazo-derecho .arriba,
#brazo-izquierdo .arriba {
  background-color: var(--celeste-2);
}

#brazo-derecho .abajo,
#brazo-izquierdo .abajo {
  background-color: var(--piel-3);
}