#pierna-derecha {
  .frente {
    background:
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #322485 10px 20px, #322485 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #5B5D5E 0 10px, #5B5D5E 10px 20px, #5B5D5E 20px 30px, #5B5D5E 30px 40px),
      linear-gradient(90deg, #5B5D5E 0 10px, #5B5D5E 10px 20px, #5B5D5E 20px 30px, #5B5D5E 30px 40px);
    background-size: 80px 10px;
    background-position: 0px 0px,
      0px 10px,
      0px 20px,
      0px 30px,
      0px 40px,
      0px 50px,
      0px 60px,
      0px 70px,
      0px 80px,
      0px 90px,
      0px 100px,
      0px 110px;
    background-repeat: no-repeat;
  }

  .detras {
    background:
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #5B5D5E 0 10px, #5B5D5E 10px 20px, #5B5D5E 20px 30px, #5B5D5E 30px 40px),
      linear-gradient(90deg, #5B5D5E 0 10px, #5B5D5E 10px 20px, #5B5D5E 20px 30px, #5B5D5E 30px 40px),
      linear-gradient(90deg, #5B5D5E 0 10px, #5B5D5E 10px 20px, #5B5D5E 20px 30px, #5B5D5E 30px 40px);
    background-size: 80px 10px;
    background-position: 0px 0px,
      0px 10px,
      0px 20px,
      0px 30px,
      0px 40px,
      0px 50px,
      0px 60px,
      0px 70px,
      0px 80px,
      0px 90px,
      0px 100px,
      0px 110px;
    background-repeat: no-repeat;
  }

  .derecha {
    background:
      linear-gradient(90deg, #1A1348 0 10px, #1A1348 10px 20px, #15103A 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #1A1348 10px 20px, #15103A 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #15103A 10px 20px, #15103A 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #15103A 10px 20px, #15103A 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #15103A 10px 20px, #1A1348 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #15103A 10px 20px, #1A1348 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #15103A 10px 20px, #1A1348 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #1A1348 10px 20px, #1A1348 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #1A1348 10px 20px, #1A1348 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #222224 0 10px, #222224 10px 20px, #1A1348 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #222224 0 10px, #222224 10px 20px, #222224 20px 30px, #222224 30px 40px),
      linear-gradient(90deg, #222224 0 10px, #222224 10px 20px, #222224 20px 30px, #222224 30px 40px);
    background-size: 80px 10px;
    background-position: 0px 0px,
      0px 10px,
      0px 20px,
      0px 30px,
      0px 40px,
      0px 50px,
      0px 60px,
      0px 70px,
      0px 80px,
      0px 90px,
      0px 100px,
      0px 110px;
    background-repeat: no-repeat;
  }

  .izquierda {
    background:
      linear-gradient(90deg, #1A1348 0 10px, #15103A 10px 20px, #1A1348 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #15103A 10px 20px, #1A1348 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #15103A 10px 20px, #15103A 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #15103A 10px 20px, #15103A 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #1A1348 10px 20px, #15103A 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #1A1348 10px 20px, #15103A 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #1A1348 10px 20px, #15103A 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #1A1348 10px 20px, #1A1348 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #1A1348 10px 20px, #1A1348 20px 30px, #1A1348 30px 40px),
      linear-gradient(90deg, #1A1348 0 10px, #1A1348 10px 20px, #222224 20px 30px, #222224 30px 40px),
      linear-gradient(90deg, #222224 0 10px, #222224 10px 20px, #222224 20px 30px, #222224 30px 40px),
      linear-gradient(90deg, #222224 0 10px, #222224 10px 20px, #222224 20px 30px, #222224 30px 40px);
    background-size: 80px 10px;
    background-position: 0px 0px,
      0px 10px,
      0px 20px,
      0px 30px,
      0px 40px,
      0px 50px,
      0px 60px,
      0px 70px,
      0px 80px,
      0px 90px,
      0px 100px,
      0px 110px;
    background-repeat: no-repeat;
  }



  .arriba {
    background:
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px),
      linear-gradient(90deg, #402DAC 0 10px, #402DAC 10px 20px, #402DAC 20px 30px, #402DAC 30px 40px);
    background-size: 80px 10px;
    background-position: 0px 0px,
      0px 10px,
      0px 20px,
      0px 30px,
      0px 40px;
    background-repeat: no-repeat;
  }
}